<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员首页</title>
    <link rel = stylesheet type = "text/css" href="../public/css/adminHome.css"/>
    <script type = "text/javascript" src = "../public/js/jquery-3.2.1.min.js"></script>
    <script type = "text/javascript" src = "../public/js/adminHome.js"></script>

</head>
<body>
    <div id = "navigation">
        <p id = title> 二手交易</p>
        <ul class = "options">
            <li><p id = "firstPage">首页</p></li>
            <li><p>用户注册审核</p></li>
            <li><p id = "queryUser">用户信息查询</p></li>
            <li><p>商品信息查询</p></li>
            <li><p>订单查询</p></li>
        </ul>
    </div>

    <div id = "subHtml">
        <!--<p id = "checkNum">当前有"+data.CheckNum+"个用户注册需要审核！</p>-->
    </div>
</body>
</html>